 body {
  background-color: var(--tennisCourtGreen);
 
}

.profile-page {
  margin: auto;
  

}

.styled-div {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* background-color: #3c648e; */
}

.styled-div-head {
  background-color: var(--usOpenCourtBlue);
  color: var(--white);
  text-align: left;
  border: thick solid white;
}

.styled-div-rows {
  border: thick solid white;
  text-align: left;
  background-color: #d7ddff;
}

select {
  width: 75px;
}