 body {
  background-color: var(--tennisCourtGreen);
  
}

.profile-page {
  margin: auto;
  
}

.styled-div {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 260px;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.styled-div-head {
  background-color: var(--usOpenCourtBlue);
  color: var(--white);
  text-align: left;
  border: thick solid white;
}

.element-border {
  border: solid white;
  width: 400px;
  margin: auto;
  padding: 2px;
}